/* Styles for the overlay */
.ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

#iyzico-3d-modal {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0%;
    margin: 14% 33% 14% 33%;
    overflow: hidden;
  }

